# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Editor and IDE files
.idea/
.vscode/
*.swp
*.swo
*~

# Logs and temporary files
*.log
*.tmp
*.temp


# Node tooling
node_modules/
